/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    color: #5a5a5a;
}


  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height:auto;
    margin-top: -150px;
  }

  .slideT{
    color: #007bff;
    font-size: 60px;
  }

  .footer{
    background-color: #007bff;
    height: 2rem;
    margin-bottom: 0rem;
  }

  .cprTxt{
    color: white;
  }

  .modal-footer {
      justify-content: center;
  }

  .fa-lock, .fa-user {
      width: 16px;
  }
  

.jumbotron-header-bar--tabs .nav-tabs > li {
    padding: 0;
    margin: 0 30px 0 0;
}