/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html, body{
	height: 100%;
}

.form-control:focus {
	border-color: #6c757d;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(108,117,125,.5);
}

  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */

  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
    background-color: #777;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    margin-top: calc(-32rem / 2);
    filter: blur(2px);
  }

  .slideT{
    color: #007bff;
    font-size: 60px;
  }

  .cprTxt{
    color: white;
  }

  .modal-footer {
      justify-content: center;
  }

  .fa-lock, .fa-user {
      width: 16px;
  }


.jumbotron-header-bar--tabs .nav-tabs > li {
    padding: 0;
    margin: 0 30px 0 0;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-title {
    min-height: 72px;
}
.my-courses-wrapper, .curriculum-wrapper, .question-page, .course-page{
    min-height: 800px;
}

.my-courses-wrapper .card {
    min-height: 393px;
}



.video-js .vjs-big-play-button {
    top: calc(50% - 0.75em);
    left: calc(50% - 1.5em);
}

.curriculum-player-wrapper {
    height: calc(100% - 56px);
	overflow: hidden;
}

.curriculum-player-wrapper .row {
	height: 100%;
}

#accordion-player {
	height: 100%;
}

.curriculum-player-card {
    border: 0;
    border-radius: 0;
    height: 100%;
    overflow-y: auto;
}
.curriculum-player-card .card-header:first-child {
    border-radius: 0;
}
#curriculum-video {
    height: 100%;
    width: 100%;
}

.curriculum-article {
	height: 100%;
}

#article-src {
	width: 100%;
	height:100%;
}

.course-jumbotron {
    background-image: linear-gradient(rgb(80,80,80) ,rgb(50,50,50) ,rgb(40,40,40) ,rgb(50,50,50) , rgb(80,80,80));
    border-radius: 0;
}

#course-sections.list-group {
	-ms-flex-direction: row;
	flex-direction: row;
}

#course-sections .list-group-item {
	margin-bottom: 30px;
    border-radius: 0;
}

#course-sections .list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #dc3545;
	border-color: #dc3545;
}

.course-section {
	margin-bottom: 50px;
}

.rating-container{
	display: inline;
}

.rating-container .filled-stars {
    -webkit-text-stroke: 0;
    text-shadow: none;
}

.rating-container .star {
    margin: 0 4px 0 0;
}

.review-row {
	border-top: 1px solid lightgray;
	padding-top: 20px;
	padding-bottom: 10px;
}

#reviewModal .caption {
	display: block;
	margin: 10px auto 20px;
}

.question-row, .response-row {
	border: 1px solid lightgray;
	border-radius: .25rem;
}

.question-row:hover {
	border: 1px solid gray;
}

.question-link:hover {
	text-decoration: none;
}
